doctype html
html(lang="en")
	head
		title="machine"
		link(href="main.css", rel="stylesheet")
	body
		.container.pr.cf
			.left-side.fl.pr
				.line
				.line
				.line
			.fl
				.cf
					.chimney.pr.fl
						.smoke-container
							.smoke.smoke1.pa
							.smoke.smoke2.pa
							.smoke.smoke3.pa
						.mid-box.brd.br4
						.base.fl.bgdark-blue
				.machine-box.pr.brd.br4.bg-blue
					.cf
						.circle.fl.brd.br50
							.top.pr
								.needle.pa.n1
							.bottom
						.circle.fl.brd.br50
							.top.pr
								.needle.pa.n2
							.bottom
						.bars-box.fl.pr
							.bar-line
								.circle.br50.pr.c1
							.bar-line
								.circle.br50.pr.c2
							.bar-line
								.circle.br50.pr.c3
							.bar-line
								.circle.br50.pr.c4
					.cf
						.meter.fl.br2.brd.meter1
							.inner-meter.inner-m1
						.meter.fl.br2.brd.meter2
							.inner-meter.inner-m2
						.vertical-slider.fl.br2.brd
							.slider-needle.brd
						.circle1.fl.brd.br50
							.inner-circle.br50.brd
					.cf
						.fl
							.horizontal-slider.br2.brd
								.slider-needle.brd.needle1
							.horizontal-slider.br2.brd
								.slider-needle.brd.needle2
						.circle2.fl.brd.br50
							.inner-circle.br50.brd
						.circle3.fl.brd.br50
							.inner-circle.br50.brd
			.right-side.fl.pr.br2
			.pipe.pipe1.pa.fl
				.content.c1
				.content.c2
			.phone-container.fl.pr
				.top-plug.fl.brd.br4
				.phone.brd.fl
					.top
						.speaker
					.screen.pr
						.content.c1.i1
						.content.c1.i2
						.content.c1.i3
						.content.c2.i4
						.content.c3.i5
						.content.c4.i6
						.content2.i7
						.content.c1.i8
						.content.c1.i9
						.content.c1.i10
					.bottom
						.button
